.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/
.idea/
.vscode/
*.iml
*.lock
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
android/.gradle/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
.env.local
