NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_WS_URL=ws://localhost:8001
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_LOCALE=fr
NEXT_PUBLIC_DEFAULT_CURRENCY=XOF
NEXT_PUBLIC_DEFAULT_COUNTRY=CI
